$blue: #006391; // Cerulean
$blue-light: #2199e8; // Dodger Blue
$grey-light: #e5e5e5; // Whisper
$white: #fff; // Whisper
$black: #222223; // Nero
$black-light: #2e2e2f;
$red: #e92242;
$grey: #808080;
$dark-grey: #4e4e4e;