$blue: #006391; // Cerulean
$blue-light: #2199e8; // Dodger Blue
$grey-light: #e5e5e5; // Whisper
$white: #f5f5f5; // Whisper
$black: #222223; // Nero
$black-light: #2e2e2f;
$red: #e92242;
$grey: #808080;
$dark-grey: #4e4e4e;


/***/
$ot-black: #2B2B2B;
$ot-blue:  #0F2FEA;
$ot-magenta: #FF09F4;
$ot-green: #07D027;
$ot-orange: #F75C03;
$ot-yellow: #F7D103;
$ot-white: #f5f5f5;
