.ot-logo-loader {
  width: 20rem;
  height: 10rem;
  grid-column: 11;
  grid-row: 12;
  display: flex;
  animation: rotate 4s cubic-bezier(0.75, 0.12, 0.02, 1.04) infinite;
  mix-blend-mode: difference;

  /*
  */
  .ot-o {
    width: 50%;
    height: 10rem;
    border: 2.5rem $ot-white solid;
    border-radius: 50%;
  }
  .ot-t-wrapper {
    display: flex;

    .ot-t-1 {
      width: 2.5rem;
      height: 10rem;
      background-color: $ot-white;
    }
    .ot-t-2 {
      margin-top: 50%;
      width: 5rem;
      height: 2.5rem;
      background-color: $ot-white;
    }
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
