.birthday-page {
  .birthday-background {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    > img {
      position: absolute;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      left: -110%;
      right: -100%;
      top: -0%;
      bottom: -0%;
    }
  }
  .birthday-greeting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vmax;
    background: $white;

    h1 {
      font-size: 2.8vmax;
    }
  }
}
